@media screen and (max-width: 1112px) {
    .navbar {
        position: relative;
    }
    .menu {
        display: none;
    }
    .logo {
        /* border: 1px solid black; */
        margin: 0% 50%;
    }
    .logo h1 {
        text-align: center;
    }
    header {
        padding-top: 60px;
    }
    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline p {
        text-align: justify;
    }
    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .card {
        width: 100%;
    }
    .whats {
        display: none;
    }
}